<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.inhair.dao.mapper.DesignerMapper">

	<insert id="designerCreate" parameterType="Designer">
		INSERT INTO designer_ta(id, password, name, phonenum, email, intro, img, startpoint, shopcode)
		VALUES(#{id}, #{password}, #{name}, #{phonenum}, #{email}, #{intro}, #{img}, #{startpoint}, #{shopcode})
	</insert>

</mapper>